/* src/components/Hero.css */

/* Hero section styling */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/p1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  
  /* Background overlay for better readability */
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  
  /* Hero text styling */
  .hero-text {
    max-width: 600px;
    margin: 0 10px;
    text-wrap: wrap;
  }
  
  .hero-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    animation: fadeIn 1s ease-in-out;
  }
  
  .hero-subheading {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #f1f1f1;
    animation: fadeIn 2s ease-in-out;
  }
  
  /* Button styling */
  .button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .hero-button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .primary-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
  }
  
  .primary-button:hover {
    background-color: #ff8266;
    transform: scale(1.05);
  }
  
  .secondary-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  /* Responsive adjustments */
  @media (min-width: 768px) {
    .hero-heading {
      font-size: 4rem;
    }
    .centered-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  @media (min-width: 1024px) {
    .hero-heading {
      font-size: 5rem;
    }
  }
  